/* div.title-search-result {
	display: block !important;
} */

.bx_smart_searche, .bx_smart_searche *, .bx-searchtitle, .bx-searchtitle * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.bx-searchtitle {
	margin: 10px 0 0;
}
.bx-searchtitle .bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
.bx-searchtitle .bx-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-searchtitle .bx-input-group {}
.bx-searchtitle .bx-input-group .bx-form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f8fafc;
	border: 1px solid #d5dadc;
	border-right: none;
	border-radius: 1px 0 0 1px;
	outline: none;
	box-shadow: none !important;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bx-searchtitle .bx-input-group .bx-form-control:focus {
	background-color: #fff;
}
.bx-ios .bx-searchtitle .bx-input-group .bx-form-control {
	/* Fix of input shadow for IOS browsers. */
	background-image: -webkit-linear-gradient(#f8fafc 0%, #f8fafc 100%);
	background-image: linear-gradient(#f8fafc 0%, #f8fafc 100%);
}
.bx-searchtitle .bx-input-group-btn {
	position: relative;
	font-size: 0;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	line-height: normal;
}
.bx-searchtitle .bx-input-group-btn button {
	position: relative;
	border: none;
	background: url(images/search-icon.png) center center no-repeat #95a1a8;
	display: inline-block;
	margin-bottom: 0;
	cursor: pointer;
	padding:0;
	border-radius: 0 1px 1px 0;
	color: #fff;
	font-size: 16px;
	line-height: 1.42857143;
	height: 34px;
	width: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.bx-searchtitle .bx-input-group-btn button:hover {
	background-color: #1484CE;
}


div.title-search-result {
	border:0 none !important;
	border-top: 0 none;
	display:none;
	overflow:hidden;
	z-index:999;
	min-width: 200px;
	margin-top: 3px;
	background-color: #FFF;
	/* border-top: 0 none; */
	border-radius: 2px;
	box-shadow: 0px 0px 7px -2px #d6d6d6;
	
	/* display: block !important; */
}

div.title-search-fader {
	display:none;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}

p.title-search-preview {
	font-size:12px;
}
div.title-search-result td.title-search-price span {
	font-size: 26px;
}

/*========================*/
.bx_smart_searche {
	padding-top:8px;
	
	border-top: 0 none;
	border-radius: 0 0 3px 3px;
}
.bx_smart_searche .bx_info_wrap{
	margin-left: 85px;
}
.bx_smart_searche .bx_img_element{
	float: left;
	padding: 5px;
	width: 75px;
	text-align: center;
}
.bx_smart_searche .bx_item_block{
	min-height: 65px;
	position: relative;
}
.bx_smart_searche .bx_image{
	/* width: 45px;
	height: 45px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e8e8e8; */
	display: inline-block;
	max-width: 100%;
}
.bx_smart_searche .bx_image.empty_image{
	background-image: url(image/noimg.png);
}
.bx_smart_searche .bx_item_element{
	padding: 8px 0;
}
.bx_smart_searche .bx_item_element_all_result {
	text-align: center;
}
.bx_smart_searche .bx_item_element hr{
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.bx_smart_searche .bx_item_element a{
	margin-top: 5px;
	display: inline-block;
	color: #333;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.bx_smart_searche .bx_item_element a b{
	font-weight: bold;
}
.bx_smart_searche .bx_item_element a b{color: #000;}
.bx_smart_searche .bx_item_element a:hover,
.bx_smart_searche .bx_item_element a:hover b{text-decoration: underline;}
.bx_smart_searche .bx_item_preview_text{
	font-size:13px;
	padding: 5px 10px 5px 0;
}
.bx_smart_searche .bx_price{
	font-weight:bold;
	font-size:15px;
	margin-top: 5px;
}
.bx_smart_searche .bx_price .old{
	font-weight: normal;
	text-decoration: line-through;
	color: #636363;
	font-size: 12px;
	vertical-align: middle;
}
.bx_smart_searche .bx_item_block.all_result{min-height:0}
.bx_smart_searche .bx_item_block.others_result{
	min-height: 0;
	line-height: 12px;
	padding: 0;
}
.bx_smart_searche .bx_item_block.all_result .all_result_button{
	display: inline-block;
	font-size: 14px;
	background-color: #1485CE;
	border: 1px solid;
	border-color: #1485CE;
	color: #FFF;
	padding: 0 22px;
	height: 34px;
	text-decoration: none;
	border-radius: 2px;
	margin: 0 0 8px;
	
	line-height: 34px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .5px;
}
.bx_smart_searche .bx_item_block_href {
	display: block;
	text-decoration: none;
	margin-bottom: 5px;
	padding: 8px;
	line-height: 14px;
}
.bx_smart_searche .bx_item_block_href:hover {
	background-color: #feeed2;
}
.bx_smart_searche .bx_item_block_hrline {
	border-bottom: 1px solid #f5a61c;
	margin: 0 8px 5px;
}
.bx_item_block_item_clear {
	display: block;
	clear:both;
}
.bx_smart_searche .bx_item_block_item_info_wrap {
	display: block;
	padding-left: 39px;
}
.bx_smart_searche .bx_item_block_item_info {
	display: block;
}
.bx_smart_searche .bx_item_block_href_category_title {
	color: #a2a2a2;
	/* font-weight: bold; */
}
.bx_smart_searche .bx_item_block_href_category_name {
	color: #f5a61c;
	font-weight: bold;
	text-transform: uppercase;
}
.bx_smart_searche .bx_item_block_item_image {
	width: 34px;
	height: 34px;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 5px;
}
.bx_smart_searche .bx_item_block_item_name {
	color: #333;
	overflow: hidden;
	height: 34px;
	display: block;
	line-height: 17px;
	display: flex;
}
.bx_smart_searche .bx_item_block_item_name_flex_align {
	margin: auto 0;
}
.bx_smart_searche .bx_item_block_item_simple_name {
	color: #333;
	display: block;
	line-height: 17px;
}
.bx_smart_searche .bx_item_block_item_name b, .bx_smart_searche .bx_item_block_item_simple_name b {
	color: #f5a61c;
}
.bx_smart_searche .bx_item_block_item_price {
	float:right;
	text-align: right;
	color: #333;
	line-height: 17px;
	padding-left: 5px;
}
.bx_smart_searche .bx_item_block_item_price.bx_item_block_item_price_only_one {
	line-height: 34px;
}
.bx_smart_searche .bx_item_block_item_price .bx_price_new {
	white-space: nowrap;
	font-weight: bold;
	display: block;
}
.bx_smart_searche .bx_item_block_item_price .bx_price_old {
	white-space: nowrap;
	text-decoration: line-through;
}
.bx_smart_searche .bx_item_block_item_text {
	color: #9b9b9b;
	display: block;
	margin-top: 8px;
	font-size: 13px;
	line-height: 15px;
}
.bx_smart_searche .bx_item_block_item_props {
	color: #9b9b9b;
	display: block;
	margin-top: 8px;
	font-size: 13px;
	line-height: 15px;
}
.bx_smart_searche .bx_item_block_item_text.wpic, .bx_smart_searche .bx_item_block_item_props.wpic {
	/* padding-left: 39px; */
}
.bx_item_block_item_prop_item {
	display: block;
}
.bx_smart_no_result_find {
	padding: 0 8px 8px;
}


/* preloader base */
.bx-searchtitle .bx-searchtitle-preloader {
	position: absolute;
	top: 2px;
	right: 110%;
	width: 30px;
	height: 30px;
	z-index: 5;
	display: none;
	/* display: block; */
}
.bx-searchtitle .bx-searchtitle-preloader.view {
	background: url(images/loader_orange.gif) center center no-repeat;
}



/* blue */
.bx-searchtitle.theme-blue .bx-input-group .bx-form-control {
	border-color:#0083d1;
}
.bx-searchtitle.theme-blue .bx-searchtitle-preloader.view {
	background-image: url(images/loader_blue.gif);
}
.bx_smart_searche.theme-blue .bx_item_block.all_result .all_result_button{
	background-color: #0083d1;
	border-color: #0083d1;
}
.bx-searchtitle.theme-blue .bx-input-group-btn button {
	background-color: #0083d1;
	border-color: #0083d1;
	color: #FFF;
}
.bx-searchtitle.theme-blue .bx-input-group-btn button:hover, .bx_smart_searche.theme-blue .bx_item_block.all_result .all_result_button:hover {
	background-color: #5ca6e4;
	border-color: #5ca6e4;
	text-decoration: none;
}
.bx_smart_searche.theme-blue .bx_item_element a b{
	color: #5ca6e4;
}
.bx_smart_searche.theme-blue .bx_item_block_href:hover {
	background-color: #b2d9f1;
}
.bx_smart_searche.theme-blue .bx_item_block_href_category_name {
	color:#0083d1;
}
.bx_smart_searche.theme-blue .bx_item_block_item_name b, .bx_smart_searche.theme-blue .bx_item_block_item_simple_name b {
	color:#0083d1;
}
.bx_smart_searche.theme-blue .bx_item_block_hrline {
	border-color: #0083d1;
}
/* black */
.bx-searchtitle.theme-black .bx-input-group .bx-form-control {
	border-color:#333;
}
.bx-searchtitle.theme-black .bx-searchtitle-preloader.view {
	background-image: url(images/loader_black.gif);
}
.bx_smart_searche.theme-black .bx_item_block.all_result .all_result_button{
	background-color: #333;
	border-color: #333;
}
.bx-searchtitle.theme-black .bx-input-group-btn button {
	background-color: #333;
	border-color: #333;
	color: #FFF;
}
.bx-searchtitle.theme-black .bx-input-group-btn button:hover, .bx_smart_searche.theme-black .bx_item_block.all_result .all_result_button:hover {
	background-color: #5c5c5c;
	border-color: #5c5c5c;
	text-decoration: none;
}
.bx_smart_searche.theme-black .bx_item_element a b{
	color: #5c5c5c;
}
.bx_smart_searche.theme-black {
	/* border:1px solid #333; */
	border-top: 0 none;
	border-radius: 0 0 3px 3px;
}
.bx_smart_searche.theme-black .bx_item_block_href:hover {
	background-color: #eaeaea;
}
.bx_smart_searche.theme-black .bx_item_block_href_category_name {
	color:#333;
}
.bx_smart_searche.theme-black .bx_item_block_item_name b, .bx_smart_searche.theme-black .bx_item_block_item_simple_name b {
	color:#333;
}
.bx_smart_searche.theme-black .bx_item_block_hrline {
	border-color: #333;
}
/* green */
.bx-searchtitle.theme-green .bx-input-group .bx-form-control {
	border-color:#159ebb;
}
.bx-searchtitle.theme-green .bx-searchtitle-preloader.view {
	background-image: url(images/loader_green.gif);
}
.bx_smart_searche.theme-green .bx_item_block.all_result .all_result_button{
	background-color: #159ebb;
	border-color: #159ebb;
}
.bx-searchtitle.theme-green .bx-input-group-btn button {
	background-color: #159ebb;
	border-color: #159ebb;
	color: #FFF;
}
.bx-searchtitle.theme-green .bx-input-group-btn button:hover, .bx_smart_searche.theme-green .bx_item_block.all_result .all_result_button:hover {
	background-color: #44b1c9;
	border-color: #44b1c9;
	text-decoration: none;
}
.bx_smart_searche.theme-green .bx_item_element a b{
	color: #44b1c9;
}
.bx_smart_searche.theme-green .bx_item_block_href:hover {
	background-color: #d0ebf1;
}
.bx_smart_searche.theme-green .bx_item_block_href_category_name {
	color:#159ebb;
}
.bx_smart_searche.theme-green .bx_item_block_item_name b, .bx_smart_searche.theme-green .bx_item_block_item_simple_name b {
	color:#159ebb;
}
.bx_smart_searche.theme-green .bx_item_block_hrline {
	border-color: #159ebb;
}
/* red */
.bx-searchtitle.theme-red .bx-input-group .bx-form-control {
	border-color:#E22B2B;
}
.bx-searchtitle.theme-red .bx-searchtitle-preloader.view {
	background-image: url(images/loader_red.gif);
}
.bx_smart_searche.theme-red .bx_item_block.all_result .all_result_button{
	background-color: #E22B2B;
	border-color: #E22B2B;
}
.bx-searchtitle.theme-red .bx-input-group-btn button {
	background-color: #E22B2B;
	border-color: #E22B2B;
	color: #FFF;
}
.bx-searchtitle.theme-red .bx-input-group-btn button:hover, .bx_smart_searche.theme-red .bx_item_block.all_result .all_result_button:hover {
	background-color: #e95c5c;
	border-color: #e95c5c;
	text-decoration: none;
}
.bx_smart_searche.theme-red .bx_item_element a b{
	color: #e95c5c;
}
.bx_smart_searche.theme-green .bx_item_block_href:hover {
	background-color: #f9d4d4;
}
.bx_smart_searche.theme-red .bx_item_block_href_category_name {
	color:#E22B2B;
}
.bx_smart_searche.theme-red .bx_item_block_item_name b, .bx_smart_searche.theme-red .bx_item_block_item_simple_name b {
	color:#E22B2B;
}
.bx_smart_searche.theme-red .bx_item_block_hrline {
	border-color: #E22B2B;
}
/* yellow */
.bx-searchtitle.theme-yellow .bx-input-group .bx-form-control {
	border-color:#F9A91D;
}
.bx-searchtitle.theme-yellow .bx-searchtitle-preloader.view {
	background-image: url(images/loader_yellow.gif);
}
.bx_smart_searche.theme-yellow .bx_item_block.all_result .all_result_button{
	background-color: #F9A91D;
	border-color: #F9A91D;
}
.bx-searchtitle.theme-yellow .bx-input-group-btn button {
	background-color: #F9A91D;
	border-color: #F9A91D;
	color: #FFF;
}
.bx-searchtitle.theme-yellow .bx-input-group-btn button:hover, .bx_smart_searche.theme-yellow .bx_item_block.all_result .all_result_button:hover {
	background-color: #faba4a;
	border-color: #faba4a;
	text-decoration: none;
}
.bx_smart_searche.theme-yellow .bx_item_element a b{
	color: #faba4a;
}
.bx_smart_searche.theme-yellow .bx_item_block_href_category_name {
	color:#F9A91D;
}
.bx_smart_searche.theme-yellow .bx_item_block_item_name b, .bx_smart_searche.theme-yellow .bx_item_block_item_simple_name b {
	color:#F9A91D;
}
.bx_smart_searche.theme-yellow .bx_item_block_hrline {
	border-color: #F9A91D;
}