#contact-map {
    height: 400px;
    margin-bottom: 80px;
}
@media (min-width: 1280px) {
    #contact-map {
        height: 500px;
        margin-bottom: 120px;
    }
}
@media (min-width: 1600px) {
    #contact-map {
        height: 600px;
        margin-bottom: 150px;
    }
}



